<section class="text-gray-600 body-font">
    <div class="container px-5 py-15 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">“People don’t take trips, trips
                take people.” - John Steinbeck
            </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Traveling opens up a world of possibilities, allowing
                us to explore new cultures, experience breathtaking landscapes,
                and create unforgettable memories. Whether it's wandering through bustling cities, trekking across
                remote wilderness, or lounging on sun-kissed beaches, every journey has the power to transform us. So
                pack your bags, embrace the unknown, and let the adventures begin!</p>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
                        src="/images/image6.jpg">
                    <div
                        class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h1 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Stunning
                            seasides
                        </h1>
                        <p class="leading-relaxed mb-3 mt-5 pt-3">Explore stunning seasides with pristine sands,
                            crystal-clear waters, and breathtaking sunsets.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
                        src="/images/image1.jpg">
                    <div
                        class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h1 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Marvelous
                            landscapes
                        </h1>
                        <p class="leading-relaxed mb-3 mt-5 pt-3">Discover marvelous landscapes adorned with towering
                            mountains, lush forests, and cascading waterfalls.</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
                        src="/images/image5.jpg">
                    <div
                        class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h1 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Picturesque
                            mountains
                        </h1>
                        <p class="leading-relaxed mb-3 mt-5 pt-3">Experience picturesque mountains boasting rugged
                            peaks, verdant valleys, and panoramic views.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>