<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="/css/output.css" rel="stylesheet">
</head>

<body class="container px-5 py-24 mx-auto">
    <h1 class="text-3xl">Error <%= status %>
    </h1>
    <p>
        <%= message %>
    </p>
</body>

</html>